
	

}




		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 15px;
	}}

.restaurants-options-cards .card {
	height: 100%;
	border: 0;
}

.restaurants-options-cards .card img {
	height: 200px;
	width: 100%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

@media screen and (max-width: 768px) {
	.restaurants-options-cards .card img {
		width: 100%;
		display: block;
		flex-direction: column;
		height: 140px;
		border-radius: 15px 15px 0px 0;
	}}

.restaurants-options-cards .card-title {
	margin: 20px 0;
}


.restaurants-cards .card-rating {
	margin-bottom: 5px;
}

/* FOOTER */

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: var(--main-bg-color);
	padding: 15px;
}

@media screen and (max-width: 768px) {
	footer {
		flex-direction: column;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 30px;
		margin: 0;
		padding: 20px;
	}}


/* Le code ci-dessous correspond à la version responsive globale */
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
	.hebergements {
		width: 100%;
	}

	.populaires {
		width: 100%;
		margin-top: 50px;
	}


	.populaires-cards .card-title {
		font-size: 14px;
	}

	.populaires-cards .card-subtitle {
		font-size: 13px;
	}}
